*{
    margin: 0;
    font-family:arial;
    border: border-box;
}

/** Header **/

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 114px;
}

.logo{
    background-image: url(index\(images\)/logo1.png);
    background-size: cover;
    height: 50px;
    width: 114px;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.2px solid white;
}

/** Box2 **/

.nav-address{
    height: 50px;
    width: 90px;
}

.add-icon{
    display: flex;
    text-align: center;
    margin-left: 7px;
}

.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 22px;
    margin-top: 8px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

/** Box3 **/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 920px;
    height: 40px;
    border-radius: 4px;
    border: none;
}
.nav-search:hover{
    border: none;
    border-radius: 4px;
    outline: 3px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 55px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
}

.search-select:focus-visible{
    outline: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-input:focus-visible{
    outline: none;
}

.search-icon{
    color: #0f1111;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size:1.5rem ;
    background-color: rgb(239, 159, 11);
     border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/** BOX4 **/

.nav-flag{
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-select{
    font-weight: 600;
    background-color: #0f1111;
    color: white;
    border: none;
    font-size: 1rem;
}

/** Box5 **/


.nav-signin{
    width: 110px;
    height: 50px;
}
.upr{
    font-size: 0.8rem;
    margin-top: 10px;
}

.lwr{
    font-size: 0.88rem;
    font-weight: 600;
}

/** Box6 **/

.nav-returns{
    width: 65px;
    height: 50px;
}

/** Box 7**/

.nav-cart i{
    margin-top:10px;
    font-size: 1.7rem;
}

.nav-cart{
    height: 50px;
    width: 72px;
    font-weight: 700;
}
    
/** Panel **/

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.borders{
    border: 2px solid transparent;
    height: 36px;
    line-height: 38px; 
    text-align: center;
}

.borders:hover{
    border: 1.2px solid white;
}

.panel-menu{
    width: 55px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-ops a p{
    display: inline-block;
    margin-right: 10px;
}
.panel-ops{
    font-size:1rem;
    width: 1260px;
}

.panel-deals{
    width: 190px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Hero_image **/

.hero-image{
    position: relative;
    height: 300px;
    margin-right: .5rem;
    margin-left: .5rem;
    background-image: url(index\(images\)/Hero_image.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-section{
    position: absolute;
    background-color: white;
    background-position: center;
    color: black;
    line-height: 40px;
    text-align: center;
    width: 83%;
    margin-bottom: 30px;
}

.hero-section a{
    text-decoration: none;
    color: #2162A1;
}

.hero-section a:hover{
    text-decoration: underline;
}

/** Shop sectoin **/

.shop-section{
    background-color:#e2e7e6;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 20px;
}

.box1-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box1-image{
    background-image: url(index\(images\)/box1.png);
    background-size: 325px 285px;
    height: 250px;
    width: 99%;
    padding: 20px 0px 15px; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box1-content p{
    font-size: 0.85rem;
}

.multibox{
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boxes{
    height: 95px;
    width: 135px;
    margin-right: 12px;
    font-size: 0.85rem;
}

.boxes a{
    color: black;
    text-decoration:none ;
}

.boxes a img{
    height: 105px; width: 145px;
}

.multibox P{
    margin-top: 40px;
    margin-bottom: 12px;
    margin-right: 248px;
    font-size: 0.85rem;
}

  /** for multibox2 box19 **/

.multibox2{
    height: 400px; 
    width: 23%;
    background-color: white;
    margin-top: 20px;
}

.multibox2 h2{
    padding: 1rem 1rem 0rem 1rem;
}

.multibox2-content{
    margin:10px 1rem 1rem 1rem;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.smallbox{
    height: 80px; 
    width: 100px;
}

.smallbox a{
    text-decoration: none;  
    font-size: 0.85rem;
    color: black;
}

.smallbox a img{
    height:75px;
    width: 100px;
}

.multibox2 p{
    margin-left: 1rem; 
    padding-top: 18px;
}

.multibox2 p a{
    font-size: 0.85rem;
    text-decoration: none;
    color: #2162A1;
}
 
       /* For Rectangle */

.rectangle{
    background-color: white;
    height: 280px;
    width: 97%;
    margin-top: 20px;
}

.content-rect{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.rect-head{
    display: flex;
}

.main-div{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}


        /** Sign-in Box**/

.sign-inbox{
    background-color: white;
    height: 205px;
    width: 100%;
    margin-top: 30px;
    
}

.sign-in-data{
    height: 145px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex; 
    justify-content: center; 
    align-items:center;
    border-top:1px solid #dddddd ;
    border-bottom:1px solid #dddddd ;
}

#yellowbox{
    height: 35px; 
    width: 250px; 
    color: black; 
    background-color: rgb(255, 223, 81); 
    border-radius:20px; 
    font-size: larger; 
    text-align: center; 
    line-height: 35px;
    margin-left: 80px; 
    margin-top:10px ;
}

#yellowbox:hover{
    background-color:rgb(252, 206, 1) ;
}

                 /** Fotter **/

footer{
    margin-top: 0px;
}
 
                /** Foot-pannel 1 **/
.foot-pannel1{
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-pannel1:hover{
    background-color: #45566b;
}

                 /** Foot-pannel 2 **/

.foot-panel2{
    color: white;
    background-color: #222f3d;
    height: 340px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 40px;
}

ul a{
    color: #dddddd;
    font-size: 0.9rem;
    text-decoration: none;
    display: block;
    margin-top: 13px;
}

ul a:hover{
    text-decoration: underline;
}

                  /** Foot-pannel 3 **/
 
.foot-panel3{
    color: white;
    background-color: #222f3d;
    height: 80px;
    border-top: 0.000001rem solid #bcbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo3{
    background-image: url(index\(images\)/logo2.png);
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-right: 55px;
}

.dibba{
    font-size: 0.8rem;
    height: 30px;
    border: 0.0000001rem solid #bcbbbb;
    margin-left: 12px;
}

.B1{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.B2{
    width: 130px;
    line-height: 30px;
    text-align: center;
}

.B3{
    width: 110px;
    line-height: 30px;
    text-align: center;
}
                   /** foot-panel 4**/
 
.foot-panel4{
    height: 430px;
    color: white;
    background-color: #0f1111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding-left:300px ;
    padding-right: 300px;
}

.first{
    font-size: 0.5rem;
    height: 55px;
    width: 130px;
    margin-top:25px;
}

.lower-data{
    margin-top: 0px;   
}

.lower-data a p{
    color: white;
}

.lower-data a{
    margin-top: 0px;
    font-size: .7rem;
    color: #c9c8c8;
}

.second{
    height: 68px;
    width: 130px;
    margin-top: 1px;
}


                /** Foot-panel 5 **/

.foot-panel5{
    height: 80px;
    background-color: #0f1111;
    color: #c9c8c8;
    text-align: center;
    font-size: 0.8rem;
}
.foot-page{
    padding-top:15px ;
}
.foot-page a{
    color: #c9c8c8;
    text-decoration: none;
    padding-left:15px ;
}

.foot-page a:hover{
    text-decoration: underline;
}

.copyright{
    padding-top: 10px;
}